{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sicredi</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/img/favicon-32x32.png' %}">

</head>
<body class="">
    {% block header %}
    {% include 'header/index.html' %}
    {% endblock %}
    {% block content %}
    {% include 'content/index.html' %}
    {% endblock %}

    <script type="module" src="{% static '/js/main.bundle.js' %}"></script>
 
</html>